.app{
    max-width: 90vw;
    margin: 0 auto;
    /* background-color: rgb(17, 14, 14); */
    padding: 30px;
}



.app h1{
    text-align: center;
    font-family: sans-serif;
    color: #a31f4d;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 38px;
}

