.galleryCard{
    /* flex-basis: 21.5%; */
    margin: 15px 49px;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 3px 3px 9px 4px rgba(48, 45, 45,0.8);
    border-radius: 6.5px;
    transition:all 0.7s ease-in-out;
    /* overflow: hidden; */
    cursor: pointer;
}

.galleryCard img{
    /* object-fit: fill; */
    width: 359px;
    height: 249px;
    border-radius: inherit;
    transition: all 0.2s ease-in;
}

.galleryCard h4{
    font-size: 25px;
    font-style: italic;
    padding: 10px;
    color: rgba(31, 23, 23, 0.8);

}

.galleryCard:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.galleryCard:hover .hero{
       filter: brightness(1.2);
       /* transform: scale(1.1); */
}